* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: hsl(0, 0%, 100%);
}

/* Header section */

header {
  width: 80%;
  margin: 0 auto 10px;
}

header h1 {
  font-family: "Jacquard 12", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 100px;
  color: hsl(203, 99%, 37%);
  text-align: center;
  margin: 30px 15px 10px;
}

/* Foreground Section */

.color-wall {
  width: 80%;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  border: 10px;
  box-shadow: 4px 4px 10px hsla(0, 0%, 0%, 0.5);
  border-style: outset;
  margin: 40px auto 5px;
  box-sizing: border-box;
}

.color-wall section {
  width: 100%;
  text-align: left;
}

/* Nav-bar section */

nav {
  width: 100%;
}

.main-nav {
  position: sticky;
  top: 0px;
  padding: 1px 25px 0px;
  background-color: hsl(0, 0%, 100%);
}

.nav-backround {
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  margin: 40px auto 20px;
  padding: 20px;
  box-sizing: border-box;
}

.page-nav {
  margin: 10px auto 0px
}

.page-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5px;
  gap: 1em;
}

.page-nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-info a,
.advance-main a {
  object-fit: cover;
}

.return-info img,
.advance-main img {
  width: 100%;
  height: 20px;
}

.nav-img-meny img {
  width: 100%;
  height: 50px;
}

.nav-top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px auto -20px;
  gap: 0.33em;
  background-color: hsl(0, 0%, 100%);
}

.nav-top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
}

hr {
  width: 100%;
  margin-top: 30px;
  border: 2px solid;
  color: hsl(220, 1%, 46%);
}

/* Text - Change class */

.html-history {
  text-align: left;
  margin-left: 40px;
}

.html-history h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  margin: 20px 30px 10px;
}

.html-history p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 40px 30px 30px;
}

.html-history h4 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin: 40px 30px 20px;
}

.html-history li {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 10px 80px;
}

.html-history b {
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
}