* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(255, 253, 208);
}

/* Header section */

header {
  width: 80%;
  margin: 0 auto 10px;
}

header h1 {
  font-family: "Jacquard 12", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 100px;
  color: rgb(1, 118, 189);
  text-align: center;
  margin: 30px 15px 10px;
}

/*
header h2 {
    font-family: "Goudy Bookletter 1911", 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 50px;
    color: rgb(255, 108, 0);
    text-align: center;
    margin: 30px 15px 10px;
}
*/

/* Foreground Section */

.color-wall {
  width: 80%;
  height: auto;
  background-color: rgb(252, 249, 195);
  border: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-style: outset;
  margin: 40px auto 5px;
  box-sizing: border-box;
}

.color-wall section {
  width: 100%;
  text-align: left;
}

/* Nav-bar section */

nav {
  width: 100%;
}

.main-nav {
  position: sticky;
  top: 0px;
  padding: 1px 25px 0px;
  background-color: rgb(252, 249, 195);
}

.nav-backround {
  width: 100%;
  height: 100%;
  background-color: rgb(252, 249, 195);
  margin: 40px auto 20px;
  padding: 20px;
  box-sizing: border-box;
}

.page-nav {
  margin: 10px auto 0px
}

.page-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5px;
  gap: 1em;
}

.page-nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-main a,
.advance-history a {
  object-fit: cover;
}

.return-main img,
.advance-history img {
  width: 100%;
  height: 20px;
}

.nav-img-meny img {
  width: 100%;
  height: 50px;
}

.nav-top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px auto -20px;
  gap: 0.33em;
  background-color: rgb(252, 249, 195);
}

.nav-top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 249, 195);
}

hr {
  width: 100%;
  margin-top: 30px;
  border: 2px solid;
  color: rgb(116, 117, 119);
}

/* test */

.test {
  margin: 10px;
  padding: 30px;
}