* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: hsl(0, 0%, 0%);
}

html {
  scroll-padding-top: 100px;
}

body {
  background-color: hsl(0, 0%, 100%);
}

/* HEADER SECTION  */

header {
  width: 80%;
  margin: 0 auto 10px;
}

header h1 {
  font-family: "Jacquard 12", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 100px;
  color: hsl(21, 100%, 45%);
  text-align: center;
  margin: 30px 15px 10px;
}

/* FOREGROUND SECTION  */

.color-wall {
  width: 80%;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  border: 10px;
  box-shadow: 4px 4px 10px hsla(0, 0%, 0%, 0.5);
  border-style: outset;
  margin: 40px auto 5px;
  box-sizing: border-box;
}

.color-wall section {
  width: 100%;
  text-align: left;
}

/* NAV-BAR SECTION */

nav {
  width: 100%;
}

.main-nav {
  position: sticky;
  top: 0px;
  padding: 1px 25px 0px;
  background-color: hsl(0, 0%, 100%);
}

.nav-backround {
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  margin: 40px auto 20px;
  padding: 20px;
  box-sizing: border-box;
}

.page-nav {
  margin: 10px auto 0px
}

.page-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5px;
  gap: 1em;
}

.page-nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-main a,
.advance-semantic a {
  object-fit: cover;
}

.return-main img,
.advance-semantic img {
  width: 100%;
  height: 20px;
}

.nav-img-meny img {
  width: 100%;
  height: 50px;
}

.nav-top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px auto -20px;
  gap: 0.33em;
  background-color: hsl(0, 0%, 100%);
}

.nav-top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
}

hr {
  width: 100%;
  margin-top: 30px;
  border: 2px solid;
  color: hsl(220, 1%, 46%);
}

/* TEXT STYLES */

.red {
  color: hsl(21, 100%, 45%);
}

.green {
  color: hsl(120, 100%, 50%);
}

.yellow {
  color: hsl(36, 100%, 50%);
}

.italic {
  font-style: italic;
}

.bigger-text {
  font-size: 18px;
  font-weight: 900;
}

.smaller-text {
  font-size: 12px;
}

#no-link {
  text-decoration: none;
}

.no-link {
  text-decoration: none;
}

.no-link ul li a {
  text-decoration: none;
}

.html-info {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

/* can we remove the following class without distyrbing the styles? */

.html-info h2 {
  font-weight: 800;
  margin: 20px 30px 10px;
}

.html-info h3 {
  font-weight: 800;
  margin: 20px 30px 10px;
}

.html-info p {
  font-weight: 400;
  margin: 10px 30px;
}

.html-info h4 {
  font-weight: 600;
  margin: 20px 30px 10px;
}

.html-info li {
  font-weight: 400;
  margin: 10px 80px;
}

.html-info b {
  font-weight: 800;
}

/* STRUCTURE & NESTED */

.structure b {
  font-weight: 600;
}

.nested-one {
  padding-left: 10px;
}

.nested-two {
  padding-left: 20px;
}

.nested-three {
  padding-left: 30px;
}

.nested-four {
  padding-left: 40px;
}

.nested-five {
  padding-left: 50px;
}

/* TABLE STYLES */

.table {
  width: 85%;
  border-collapse: collapse;
  margin: 35px 30px 10px;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.table th {
  font-size: 18px;
  height: 100px;
}

.table td {
  font-size: 14px;
  height: 80px;
  text-align: justify;
  border: 5px solid hsl(0, 0%, 100%);
  padding: 12px 15px;
}

tr a {
  color: hsl(0, 0%, 0%);
  width: 100%;
}

table thead tr {
  background-color: hsl(0, 0%, 78%);
  color: hsl(0, 0%, 0%);
  height: 100px;
}

.table th {
  text-align: justify;
  border: 5px solid hsl(0, 0%, 100%);
  padding: 12px 15px;
}

.table tbody tr:nth-of-type(even) {
  background-color: hsl(0, 0%, 100%);
}

.table tbody tr:nth-of-type(odd) {
  background-color: hsl(0, 0%, 95%);
}

tr:hover a {
  color: hsl(0, 0%, 100%);
}

tr:hover td {
  color: hsl(0, 0%, 100%);
}

tr:hover b {
  color: hsl(0, 0%, 100%);
}

tr:hover span {
  color: hsl(0, 0%, 100%);
}

tr:hover .red,
tr:hover .green,
tr:hover .yellow {
  color: hsl(0, 0%, 100%);
}

.table thead tr:hover,
.table tbody tr:hover {
  color: blue;
  background-color: hsl(21, 100%, 45%);
}