* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: hsl(0, 0%, 100%);
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
}

h2 {
  font-family: Helvetica;
  font-weight: bold;
}

header h1 {
  font-family: "Jacquard 12", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 100px;
  color: hsl(36, 100%, 50%);
  text-align: center;
  margin: 30px 15px 30px;
}

.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.goudy-bookletter-1911-regular {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 10px;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

.card {
  overflow: hidden;
  flex: 0 1 calc(25%);
}

.card img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
