
/* UNIVERSAL STYLES */

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: hsl(0, 0%, 0%);
}

html {
  scroll-padding-top: 100px;
}

body {
  background-color: hsl(0, 0%, 100%);
}

header {
  width: 80%;
  margin: 0 auto 10px;
}

h1 {
  font-family: "Jacquard 12", "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 100px;
  color: hsl(0, 0%, 0%);
  text-align: center;
  margin: 30px 15px 10px;
}

h2 {
  font-weight: 800;
  margin: 20px 30px 10px;
}

h3 {
  font-weight: 800;
  margin: 20px 30px 10px;
}

h4 {
  font-weight: 600;
  margin: 20px 30px 10px;
}

h5 {
  font-weight: 600;
  margin: 20px 30px 10px;
}

p {
  font-weight: 400;
  margin: 10px 30px;
}

li {
  font-weight: 400;
}

b {
  font-weight: 800;
}

hr {
  width: 100%;
  margin-top: 30px;
  border: 2px solid;
  color: hsl(220, 1%, 46%);
}

/* FOREGROUND STYLES  */

.color-wall {
  width: 80%;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  border: 10px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px hsla(0, 0%, 0%, 0.5);
  border-style: outset;
  margin: 25px auto 20px;
  padding: 0px 60px 40px;
}

.color-wall section {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  text-align: left;
}

/* NAVIGATION STYLES */

nav {
  width: 100%;
}

.main-nav {
  background-color: hsl(0, 0%, 100%);
  position: sticky;
  top: 0px;
  padding: 1px 25px 0px;
}

.nav-backround {
  color: hsl(0, 0%, 100%);
  height: 100%;
  margin: 40px auto 20px;
  padding: 20px;
  box-sizing: border-box;
}

.page-nav {
  margin: 10px auto 0px
}

.page-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5px;
  gap: 1em;
}

.page-nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-nav a,
.advance-nav a {
  object-fit: cover;
}

.return-nav img,
.advance-nav img {
  width: 100%;
  height: 20px;
}

.nav-img-meny img {
  width: 100%;
  height: 50px;
}

.nav-top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px auto -20px;
  gap: 0.33em;
  background-color: hsl(0, 0%, 100%);
}

.nav-top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
}

/* TEXT STYLES */

.red {
  color: hsl(21, 100%, 45%);
}

.yellow {
  color: hsl(36, 100%, 50%);
}

.blue {
  color: hsl(203, 99%, 37%);
}

.green {
  color: hsl(120, 100%, 50%);
}

.italic {
  font-style: italic;
}

.bigger-text {
  font-size: 18px;
  font-weight: 900;
}

.smaller-text {
  font-size: 12px;
}

.no-link {
  text-decoration: none;
}

.no-link a {
  text-decoration: none;
}

.no-link ul li a {
  text-decoration: none;
}

/* STRUCTURE & NESTED */

.structure {
  padding-top: 15px;
  padding-bottom: 15px;
}
.structure b {
  font-weight: 600;
}

.nested-one {
  padding-left: 10px;
}

.nested-two {
  padding-left: 20px;
}

.nested-three {
  padding-left: 30px;
}

.nested-four {
  padding-left: 40px;
}

.nested-five {
  padding-left: 50px;
}

.nested-list ul {
  padding-left: 80px;
}

.nested-list li {
  margin: 10px auto;
}

/* TABLE STYLES */

table {
  width: 93%;
  border-collapse: collapse;
  margin: 35px 30px;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-100 {
  width: 100%;
}

table thead tr {
  background-color: hsl(0, 0%, 78%);
  color: hsl(0, 0%, 0%);
  height: 100px;
}

table th {
  text-align: left;
  border: 5px solid hsl(0, 0%, 100%);
  padding: 12px 15px;
  font-size: 18px;
  height: 100px;
}

table tbody tr:nth-of-type(even) {
  background-color: hsl(0, 0%, 100%);
}

table tbody tr:nth-of-type(odd) {
  background-color: hsl(0, 0%, 95%);
}

table td {
  text-align: left;
  font-size: 14px;
  height: 80px;
  border: 5px solid hsl(0, 0%, 100%);
  padding: 12px 15px;
}

.table-code {
  text-align: center;
}

table tfoot tr {
  background-color: hsl(0, 0%, 78%);
  color: hsl(0, 0%, 0%);
  height: 50px;
}

tr a {
  color: hsl(0, 0%, 0%);
  width: 100%;
}

tr:hover td,
tr:hover th,
tr:hover label,
tr:hover span,
tr:hover a,
tr:hover b,
tr:hover p {
  color: hsl(0, 0%, 100%);
  background-color: hsl(21, 100%, 45%);
}