*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f0f0f0;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 16px;
}
.card-content .btn{
    display: inline-block;
    width: fit-content;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    transition: background-color 0.3s;
    align-self: flex-start;
    margin-top: auto;
}
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}
        