*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(255, 253, 208);
}

h1 {
    font-family: Helvetica;
    font-weight: bold;
}

h2 {
    font-family: Helvetica;
    font-weight: bold;
}

header h1 {
    font-family: "Jacquard 12", 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 100px;
    color: rgb(229, 80, 0);
    text-align: center;
    margin: 30px 15px 30px;
}

header h2 {
    font-family: "Goudy Bookletter 1911", 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 50px;
    color: rgb(255, 108, 0);
    text-align: center;
    margin: 30px 15px 10px;
}

.html-history {
    font-family: "Goudy Bookletter 1911", 'Times New Roman', Times, serif;
    text-align: left;
    margin-left: 40px;
}

.html-history h3 {
    font-weight: 800;
    margin: 40px 30px 30px;
}

.html-history p {
    font-weight: 400;
    margin: 40px 30px 30px;
}

.html-history h4 {
    font-weight: 600;
    margin: 40px 30px 30px;
}

.html-history li {
    font-weight: 400;
    margin: 15px 80px;
}