* {
    margin: 0;
    padding: 0;
  }

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(../images/pattern.webp);
    margin: 80px 15px 80px;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 0px 15px 25px;
}

h3 {
  margin: 0px 15px 15px;

}

p {
  margin: 0px 15px 25px;
}

b {
  color: blue;
}

img {
  margin: 15px 15px 25px;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}


 